<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellobeansoft.happymovie" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.arshad.map.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.arshad.map.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_cyst"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity android:name=".MovieStaggeredActivity" />
        <activity
            android:name=".CinemaFragmentActivity"
            android:label="@string/title_activity_cinema_fragment" >
        </activity>
        <activity
            android:name=".ShowtimeCinemaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowtimeMovieActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TutorialFragmentActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowtimeMovieCinemaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCG9e6hFUlGasNfEiKf_Yh7Hg9YWdtq4Mk" />

    </application>

</manifest>
